Example 1

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

Example 2

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

Example 3

In [5]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 'banana', 2, 'cherry', 'apple'}

Example 4

In [7]:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, True, 'banana', 'cherry', 'apple'}

Example 5

In [9]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

Example 6

In [11]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
#String, int and boolean data types

Example 7

In [13]:
set1 = {"abc", 34, True, 40, "male"}
#A set with strings, integers and boolean values

Example 8

In [15]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

Example 9

In [17]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}