Example 1

In [1]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

Example 2

In [3]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

Example 3

In [5]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'apple', 'cherry'}

Example 4

In [7]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

Example 5

In [9]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined